body{
background-color:52825c;
}
.Container
{
	margin:20px;
	padding:20px;
}
button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;
  border:none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: sandbox;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
.jumbotron{
	border-radius: 5px;
	background-color:#672f2f;
	border: 2px solid #2d3330;
	color:white;
	width:1250px;
	height:200px;
	margin:10px;
	padding:30px;
	
}
* {
  box-sizing:border-box;
}